

# -----<notdbMysql>----- #配置中没有写库的名字，这样更加灵活
[notdbMysql]
host = 192.168.2.137
port = 3306
user = root
password = python123


# -----<日志路径>----- ## 日志路径
[log]
logpath = /opt/code/my_code/tornado_uedit
logname = aaa.log


# -----<索引文件路径>----- ## 索引文件路径,注意要有
[indexFilePath]
filepath = /data/index


# -----<Session>----- #
[session]
# 类型： cache/redis/memcached
session_type = redis
# session 超时时间
session_expires = 2000


# -----<Session_Redis>----- #
# host, port, password
[session_redis]
host=192.168.2.137
port=6379


# -----<管理员信息>----- #
# 因为只有一个用户admin， 所以把userid直接定义在这里了

[user]
user_id = 123456
user_name = admin
pass_word = 1


# -----<图片的url路径>----- #
# 或者用域名, 因为只有这样, 即使ip变了也无所谓,否则图片打不开,最好是域名便于迁移
# 以后如果出现问题, 就在发送前端数据时候replace
[img_url]
host=www.muyuchen.com
port=8888


[data]
host = 192.168.2.137
port = 3306
db_name = db_data_20170524164100
user = root
password = python123