<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p><span style=\"color: rgb(51, 51, 51); font-family: arial; font-size: 13px; background-color: rgb(255, 255, 255);\">&nbsp;当你走进这欢乐场
    背上所有的梦与想 各色的脸上各色的妆 没人记得你的模样</span></p>
<p><br/></p>
<p><span style=\"color: rgb(51, 51, 51); font-family: arial; font-size: 13px; background-color: rgb(255, 255, 255);\">
    <video class=\"edui-upload-video vjs-default-skin video-js\
    " controls=\"\" preload=\"none\" width=\"420\" height=\"280\"
    src=\"http://www.muyuchen.com:8888/static/ueditor/php/upload/video/2018813/160549865837.mp4\" data-setup=\"{}\">
    <source src=\"http://www.muyuchen.com:8888/static/ueditor/php/upload/video/2018813/160549865837.mp4\"
            type=\"video/mp4\"/>
    </video></span></p>
<p><br/></p>
<p>简谱</p>
<p><img src=\"http://www.muyuchen.com:8888/static/ueditor/php/upload/image/2018813/160710226292.png"
        title=\"image.png\" alt=\"image.png\"/></p>

<script type="text/javascript">
    var new_data = {"a": "3", "b":'111'};
    var old_data = {"a": "2", "b":'111'};
    update = {};
    for (var old_key in old_data){
        sub_old_data = old_data[old_key];
        if (new_data[old_key] != sub_old_data){
            update[old_key] = new_data[old_key];
        }
    }
    console.log(update);



</script>

</body>
</html>