{% extends 'layout.html' %}

{% block index_home %}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>


    <script src="/static/performs/js/hm.js"></script>


    <link rel="dns-prefetch" href="https://s.w.org/">
    <script type="text/javascript" src="/static/performs/js/jquery.min.js"></script>
    <link href="/static/performs/css/20180724.css" rel="stylesheet" type="text/css">
    <link href="/static/performs/css/umcenter.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/static/performs/js/YuxiSlider.jQuery.min.js"></script>

</head>



<body class="pa_top80">

<!--Central-->
<div id="Central" class="thewidth clearfix">
    <!-- Left -->
    <div class="left_body">

        <div id="Left">

            <!-- 轮播图 -->

            <div class="lunbo">
                <a class="control prev"></a><a class="control next abs"></a>
                <div class="slider"
                     style="position: relative; overflow: hidden; display: block; width: 1040px; height: 586px;">
                    <ul style="position: absolute; width: 2586px; left: -862px;">
                        <li style="display: inline; float: left;">
                            <a href="" target="_blank"><img
                                    src="/static/performs/img/shilan.gif" alt=""
                                    style="width: 888px; height: 500px;"></a></li>
                        <li style="display: inline; float: left;">
                            <a href="" target="_blank"><img
                                    src="/static/performs/img/shilan.gif" alt=""
                                    style="width: 888px; height: 500px;"></a></li>
                        <li style="display: inline; float: left;">
                            <a href="" target="_blank"><img
                                    src="/static/performs/img/shilan.gif" alt=""
                                    style="width: 888px; height: 500px;"></a>
                        </li>
                    </ul>
                    <div class="desc"
                         style="position: absolute; width: 100%; height: 3em; bottom: 0px; left: 0px; z-index: 2;"><p
                            class="title" style="float: left; height: 1em;"><a href=""
                                                                               style="display: block; color: rgb(255, 255, 255); text-overflow: ellipsis; white-space: nowrap; overflow: hidden; width: 798px;"></a>
                    </p><span class="num"
                              style="position: absolute; right: 0.5em; color: rgb(255, 255, 255); font-style: italic; font-family: Georgia, &quot;Monotype Corsiva&quot;, Arial, sans-serif;"><em
                            class="curr-num"
                            style="display: inline-block; position: relative; font-size: 2.4em; height: 2em; line-height: 2em; color: rgb(204, 25, 27); bottom: 0.625em;">3</em><em
                            class="line"
                            style="display: inline-block; position: relative; width: 16px; height: 3em; bottom: -15px; left: 0px; background: url(&quot;https://www.jitatang.com/wp-content/themes/qin/images/xie.png&quot;) center center no-repeat;"></em><em
                            class="total-num"
                            style="display: inline-block; position: relative; font-size: 1.2em; height: 2em; line-height: 2em; top: 0.6em;">3</em></span>
                    </div>
                    <div class="bg"
                         style="position: absolute; opacity: 0.5; width: 100%; height: 3em; bottom: 0px; left: 0px;">
                    </div>
                </div>
            </div>
            <script>
$(".slider").YuxiSlider({
  width:860, //容器宽度
  height:330, //容器高度
  control:$('.control'), //绑定控制按钮
  during:4000, //间隔4秒自动滑动
  speed:800, //移动速度0.8秒
  // mousewheel:true, //是否开启鼠标滚轮控制 */
  direkey:true //是否开启左右箭头方向控制
});




            </script>

            <div class="recommend-collection" style="display:none">
                <!--有多少复制，往上面加就好-->
                <a class="collection" target="_blank" href="">
                    <img src="/static/performs/img/nancy.jpg">
                    <div class="ztname">教学</div>
                </a>


            </div>

            <!--视频区开始-->
            <div class="Archive_body" style="margin-top:5%;">
                <div class="archive_indexlist clearfix" id="archive_indexlist" style="background:#FFFFFF">
                    <div class="index_tab clearfix">
                        <ul>
                            <li class="" id="one1" onclick="setTab(&#39;one&#39;,1)"> 单曲教学</li>
                            <li class="off" id="one2" onclick="setTab(&#39;one&#39;,2)"> 网友作品 <span
                                    class="hot_icon"></span></li>
                        </ul>
                        <div class="f_r index_tab_right"></div>
                    </div>

                    <div class="menudiv">
                        <div id="con_one_1" style="display: none;">

                            <!--共计6个--> <!--记得加链接-->
                            <!-- post_loop3 -->
                            <div class="post_loop3">
                                <div class="post_loop_thumb3 the_hover">
                                    <!--记得加链接-->
                                    <a href="" target="_blank" class="the_hover_link"
                                       style="display: none;"></a>
                                    <img src="/static/performs/img/2018073015110421.jpg"
                                         alt="《讲真的》吉他谱_吉他弹唱教学视频_G调/C调六线谱">
                                    <div class="wplaiyuan">酷音小伟</div>
                                </div>
                                <div class="post_loop_bottom3">
                                    <div class="post_loop_title3">
                                        <!--记得加链接-->
                                        <a href="" title="《讲真的》吉他谱_吉他弹唱教学视频_G调/C调六线谱"
                                           target="_blank">《讲真的》吉他谱_吉他弹唱教学视频_G调/C调六线谱</a>
                                    </div>
                                    <div class="post_loop_foot3 clearfix">
                                        <span class="view"><i class="fa icon-eye"></i>3,029 views </span>
                                        <span class="like"><i class="fa icon-thumbs-o-up"></i>11 Likes</span>
                                        <span class="date"><i class="fa icon-creative-commons-noderivs"></i>07,30</span>
                                    </div>
                                </div>
                            </div>
                            <div class="post_loop3">
                                <div class="post_loop_thumb3 the_hover">
                                    <!--记得加链接-->
                                    <a href="" target="_blank" class="the_hover_link"
                                       style="display: none;"></a>
                                    <img src="/static/performs/img/2018073015110421.jpg"
                                         alt="《讲真的》吉他谱_吉他弹唱教学视频_G调/C调六线谱">
                                    <div class="wplaiyuan">酷音小伟</div>
                                </div>
                                <div class="post_loop_bottom3">
                                    <div class="post_loop_title3">
                                        <!--记得加链接-->
                                        <a href="" title="《讲真的》吉他谱_吉他弹唱教学视频_G调/C调六线谱"
                                           target="_blank">《讲真的》吉他谱_吉他弹唱教学视频_G调/C调六线谱</a>
                                    </div>
                                    <div class="post_loop_foot3 clearfix">
                                        <span class="view"><i class="fa icon-eye"></i>3,029 views </span>
                                        <span class="like"><i class="fa icon-thumbs-o-up"></i>11 Likes</span>
                                        <span class="date"><i class="fa icon-creative-commons-noderivs"></i>07,30</span>
                                    </div>
                                </div>
                            </div>
                            <div class="post_loop3">
                                <div class="post_loop_thumb3 the_hover">
                                    <!--记得加链接-->
                                    <a href="" target="_blank" class="the_hover_link"
                                       style="display: none;"></a>
                                    <img src="/static/performs/img/2018073015110421.jpg"
                                         alt="《讲真的》吉他谱_吉他弹唱教学视频_G调/C调六线谱">
                                    <div class="wplaiyuan">酷音小伟</div>
                                </div>
                                <div class="post_loop_bottom3">
                                    <div class="post_loop_title3">
                                        <!--记得加链接-->
                                        <a href="" title="《讲真的》吉他谱_吉他弹唱教学视频_G调/C调六线谱"
                                           target="_blank">《讲真的》吉他谱_吉他弹唱教学视频_G调/C调六线谱</a>
                                    </div>
                                    <div class="post_loop_foot3 clearfix">
                                        <span class="view"><i class="fa icon-eye"></i>3,029 views </span>
                                        <span class="like"><i class="fa icon-thumbs-o-up"></i>11 Likes</span>
                                        <span class="date"><i class="fa icon-creative-commons-noderivs"></i>07,30</span>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div id="con_one_2" style="display: block;">
                            <!--共计6个--> <!--记得加链接-->
                            <!-- post_loop3 -->
                            <div class="post_loop3">
                                <div class="post_loop_thumb3 the_hover">
                                    <!--记得加链接-->
                                    <a href="" target="_blank"
                                       class="the_hover_link"></a>
                                    <img src="/static/performs/img/2018080309004611.jpg">
                                    <div class="wplaiyuan">燕子姐姐</div>
                                </div>
                                <div class="post_loop_bottom3">
                                    <div class="post_loop_title3">
                                        <!--记得加链接-->
                                        <a href="" title="《醒着醉》吉他弹唱视频_燕子姐姐Cover"
                                           target="_blank">《醒着醉》吉他弹唱视频_燕子姐姐Cover</a>
                                    </div>
                                    <div class="post_loop_foot3 clearfix">
                                        <span class="view"><i class="fa icon-eye"></i>374 views </span>
                                        <span class="like"><i class="fa icon-thumbs-o-up"></i>4 Likes</span>
                                        <span class="date"><i class="fa icon-creative-commons-noderivs"></i>08,03</span>
                                    </div>
                                </div>
                            </div>
                            <div class="post_loop3">
                                <div class="post_loop_thumb3 the_hover">
                                    <!--记得加链接-->
                                    <a href="" target="_blank"
                                       class="the_hover_link"></a>
                                    <img src="/static/performs/img/2018080309004611.jpg">
                                    <div class="wplaiyuan">燕子姐姐</div>
                                </div>
                                <div class="post_loop_bottom3">
                                    <div class="post_loop_title3">
                                        <!--记得加链接-->
                                        <a href="" title="《醒着醉》吉他弹唱视频_燕子姐姐Cover"
                                           target="_blank">《醒着醉》吉他弹唱视频_燕子姐姐Cover</a>
                                    </div>
                                    <div class="post_loop_foot3 clearfix">
                                        <span class="view"><i class="fa icon-eye"></i>374 views </span>
                                        <span class="like"><i class="fa icon-thumbs-o-up"></i>4 Likes</span>
                                        <span class="date"><i class="fa icon-creative-commons-noderivs"></i>08,03</span>
                                    </div>
                                </div>
                            </div>
                            <div class="post_loop3">
                                <div class="post_loop_thumb3 the_hover">
                                    <!--记得加链接-->
                                    <a href="" target="_blank"
                                       class="the_hover_link"></a>
                                    <img src="/static/performs/img/2018080309004611.jpg">
                                    <div class="wplaiyuan">燕子姐姐</div>
                                </div>
                                <div class="post_loop_bottom3">
                                    <div class="post_loop_title3">
                                        <!--记得加链接-->
                                        <a href="" title="《醒着醉》吉他弹唱视频_燕子姐姐Cover"
                                           target="_blank">《醒着醉》吉他弹唱视频_燕子姐姐Cover</a>
                                    </div>
                                    <div class="post_loop_foot3 clearfix">
                                        <span class="view"><i class="fa icon-eye"></i>374 views </span>
                                        <span class="like"><i class="fa icon-thumbs-o-up"></i>4 Likes</span>
                                        <span class="date"><i class="fa icon-creative-commons-noderivs"></i>08,03</span>
                                    </div>
                                </div>
                            </div>


                        </div>


                    </div>

                </div>
            </div>


            <script>
function setTab(name,cursel){
  cursel_0=cursel;
  for(var i=1; i<=links_len; i++){
    var index_tab = document.getElementById(name+i);
    var menudiv = document.getElementById("con_"+name+"_"+i);
    if(i==cursel){
      index_tab.className="off";
      menudiv.style.display="block";
    }
    else{
      index_tab.className="";
      menudiv.style.display="none";
    }
  }
};

function Next(){
  cursel_0++;
  if (cursel_0>links_len)cursel_0=1
  setTab(name_0,cursel_0);
};

var name_0='one';
var cursel_0=1;
var ScrollTime=3000;//循环周期（毫秒）
var links_len,iIntervalId;
window.onload=function(){
          var links = document.getElementById("archive_indexlist").getElementsByTagName('li');
          links_len=links.length;
          for(var i=0; i < links_len; i++){
            links[i].onmouseover=function(){
              clearInterval(iIntervalId);
              this.onmouseout=function(){
                iIntervalId = setInterval(Next,ScrollTime);
              }
            }
          };
          document.getElementById("con_"+name_0+"_"+links_len).parentNode.onmouseover=function(){
            clearInterval(iIntervalId);
            this.onmouseout=function(){
              iIntervalId = setInterval(Next,ScrollTime);
            }
          };
            setTab(name_0,cursel_0);
            iIntervalId = setInterval(Next,ScrollTime);
};

            </script>

            <!--视频区结束-->
            <div class="index_box">
                <div class="index_tab clearfix">
                    <ul>
                        <li class="off">吉他谱</li>
                    </ul>
                    <!--div class="f_r index_tab_right"><a href="https://www.jitatang.com/pu" target="_blank" style="font-weight:bold;">更多>>></a></div-->
                </div>
                <div class="index_list">
                    <div id="index_list_new">

                        <div class="post_loop4 clearfix">
                            <div class="post_loop4_thumb the_hover">
                                <a href="" title="《魔鬼中的天使》吉他谱_康树龙男生版_C调伴奏谱"
                                   target="_blank">
                                    <img src="/static/performs/img/2018080115231553.jpg"
                                         alt="《魔鬼中的天使》吉他谱_康树龙男生版_C调伴奏谱"> </a>
                            </div>
                            <div class="post_loop4_right">
                                <h2><a href="" title="《魔鬼中的天使》吉他谱_康树龙男生版_C调伴奏谱"
                                       target="_blank">《魔鬼中的天使》吉他谱_康树龙男生版_C调伴奏谱</a>
                                </h2>
                                <div class="post4_excerpt">
                                    《魔鬼中的天使》男生版吉他谱奉上，中国好声音上康树龙演唱的版本编配，来自西二吉他制谱分享。康树龙低喉位胸腔共鸣的磁性声音，将这首歌唱出意料之外的深情，李健老...
                                </div>
                            </div>
                            <div class="post_loop4_bottom clearfix">
                                <div class="f_l plb_left clearfix">
                                    <!--div class="plb_left_cate"></div-->
                                    <div class="plb_left_time"><i class="fa icon-creative-commons-noderivs"></i>2018,07,09
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <!-- /index_box -->
        </div>
    </div>
    <!-- /Left -->


</div>
<!--/Central-->


<script>
$(document).ready(function(){
  dropdownOpen();//调用
});
/* 鼠标划过展开子菜单*/
function dropdownOpen() {

  var $dropdownLi = $('li.dropdown');

  $dropdownLi.mouseover(function() {
    $(this).addClass('open');
  }).mouseout(function() {
    $(this).removeClass('open');
  });
}




</script>
<script>
 $('.js-toggle-search').on('click', function () {
        $('.search-form').toggleClass('is-visible');
        $("html").addClass("overflow-hidden");
    });
    $('.close-search').click(function(){
        $(".search-form").removeClass("is-visible");
        $("html").removeClass("overflow-hidden");
    });




</script>




</body>
</html>

{% end %}